html {
    background-color: #666;
}
body {
    color: #2A4560;
}
header, header a {
    background-color: #2A4560;
    color: #fff;
}
div {
    background-color: #e4ecf4;
    color: #2A4560;
}
footer {
    background-color: #2A4560;
}

footer p {
    color: #fff;
}

ul#features > li a {
    
   
    color:red;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
header, footer, h1 {
    text-align: center;
}
body, header,div, footer, fieldset, ul, li, h1, h2, p, img {
    
    margin: 0;
    padding: 0;
}

img {
    width: 75%;
   display: block;
    margin-left: auto;
    margin-right: auto;
}


#features a {
    
    margin-top: 1em;
    padding: .5em;
}
footer {
    padding: 1em;
}


@media screen and (max-width: 900px) and (min-width: 400px) {
    body {
        background-color: red;
    }
    img{
        display: none;
    }
	ul#features {
		text-align: center;
	}
	ul#features li {
		display: inline-block;
		margin: 2%;
		min-height: 18em;
		text-align: left;
		width: 28%;
    }
}

@media screen and (max-width: 400px) {
    body {
        background-color: grey  ;
    }
    img{
        display: none;
    }
	ul#features {
		text-align: center;
	}
	ul#features li {
		display: block;
		margin: 2%;
		text-align: left;
    }
}